<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <table id="list">
        <!-- thead: used within <table> to group header content -->
            <!-- tr: defines a row of cells -->
            <thead>
                <tr>
                <!-- th: defines a header cell in a <table>; used alongside <td> for data cells -->
                    <th>Airline</th>
                    <th>Airport</th>
                    <th>Flight No</th>
                    <th>Departure Date</th>
                </tr>
            </thead>
        <tbody>
            <% flights.forEach((flight) => { %>
                <tr>
                    <td><%= flight.airline %></td>
                    <td><%= flight.airport %></td>
                    <td><%= flight.flightNo %></td>
                    <td><%= flight.departs %></td>
                    <td>
                        <a href="/flights/<%= flight._id %>">DETAILS</a>
                    </td>
              </tr>
            <% }) %>
        </tbody>
    </table>
    
</main>

<%- include('../partials/footer') %> 